.card {
    margin-bottom: 2.5rem;
    width: 100%;
    min-height: 6.625rem;
    display: flex;
    flex-direction: column;
    border-bottom: 0.0625rem solid var(--color-secondary);

    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-right: 1.5rem;
    }

    &__arrow {
        position: relative;
        min-width: 0.7rem;
        min-height: 0.7rem;
        border-right: 0.125rem solid;
        border-bottom: 0.125rem solid;
        border-color: var(--color-third);
        transform: rotate(315deg);

        &::before {
            content: '';
            position: absolute;
            top: 0.275rem;
            width: 0.7rem;
            height: 0.125rem;
            background-color: var(--color-third);
            transform: rotate(45deg);
        }
    }
}