.wrapper {
    width: 100%;
    display: flex;
}

.list {
    margin-top: 3.25rem;
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: var(--padding-x-large);
    }
}