<div class="wrapper">
    <main class="container list">
        <h1 class="list__title">Country list</h1>
        <div *ngIf="loading$ | async">Loading...</div>
        <!-- <div *ngIf="error">Error</div> -->
        <div *ngIf="contries$ | async as contries">
            <div *ngFor="let country of contries 
                | filterCountriesContinent: filterServices.selectContinent 
                | filterCountriesName: filterServices.search"
            >
                <app-item [country]="country"></app-item>
            </div>
        </div>
    </main>
    <app-sidebar></app-sidebar>
</div>
