.description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    &__value {
        min-width: 18rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__name {
        width: 6.25rem;
    }

    &__info {
        color: var(--color-third);
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}